.colorFila1 .col{
    background-color: aqua;
}

.colorFila2 .col{
    background-color: pink;
}

.colorFila3 .col{
    background-color: blue;
}
.colorFila4 .col{
    background-color: red;
  
}
.col-1{
    background-color: red;

}
